# IDE
.idea/
*.iml

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Temporary
tmp/
*.tmp

# Node
node_modules/

# Build
target/
dist/
build/

# Environment
.env
.env.local

# Python cache
__pycache__/
*.pyc

# Log
*.log
